openapi: 3.2.0
info:
  title: Paddle Transactions API
  description: Paddle Billing API for subscription and recurring revenue management.
  termsOfService: https://www.paddle.com/legal/terms
  contact:
    name: Paddle Support
    url: https://www.paddle.com/support
  version: '1.0'
servers:
- url: https://api.paddle.com
  description: Production
- url: https://sandbox-api.paddle.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Transactions
paths:
  /transactions:
    get:
      operationId: list-transactions
      tags:
      - Transactions
      summary: List transactions
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/perPage'
      - name: status
        in: query
        schema:
          type: string
          enum:
          - draft
          - ready
          - billed
          - paid
          - completed
          - canceled
          - past_due
      responses:
        '200':
          description: Returns a paginated list of transactions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionCollection'
    post:
      operationId: create-transaction
      tags:
      - Transactions
      summary: Create a transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Returns the created transaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionEntity'
  /transactions/{transaction_id}:
    parameters:
    - $ref: '#/components/parameters/transactionId'
    get:
      operationId: get-transaction
      tags:
      - Transactions
      summary: Get a transaction
      responses:
        '200':
          description: Returns a transaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionEntity'
    patch:
      operationId: update-transaction
      tags:
      - Transactions
      summary: Update a transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Returns the updated transaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionEntity'
  /transactions/{transaction_id}/invoice:
    parameters:
    - $ref: '#/components/parameters/transactionId'
    get:
      operationId: get-transaction-invoice
      tags:
      - Transactions
      summary: Get a PDF invoice for a transaction
      responses:
        '200':
          description: Returns a URL to the PDF invoice for the transaction.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      url:
                        type: string
                        format: uri
components:
  schemas:
    TransactionEntity:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Transaction'
        meta:
          $ref: '#/components/schemas/Meta'
    TransactionCollection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        meta:
          $ref: '#/components/schemas/Meta'
    Meta:
      type: object
      properties:
        request_id:
          type: string
        pagination:
          type: object
          properties:
            per_page:
              type: integer
            next:
              type: string
            has_more:
              type: boolean
            estimated_total:
              type: integer
    Transaction:
      type: object
      properties:
        id:
          type: string
          example: txn_01gsz4t5hdjse780zja8vvr7jg
        status:
          type: string
          enum:
          - draft
          - ready
          - billed
          - paid
          - completed
          - canceled
          - past_due
        customer_id:
          type:
          - string
          - 'null'
        subscription_id:
          type:
          - string
          - 'null'
        currency_code:
          type: string
        origin:
          type: string
        collection_mode:
          type: string
          enum:
          - automatic
          - manual
        items:
          type: array
          items:
            type: object
        details:
          type: object
        created_at:
          type: string
          format: date-time
  parameters:
    transactionId:
      name: transaction_id
      in: path
      required: true
      schema:
        type: string
    after:
      name: after
      in: query
      description: Return entities after the specified cursor for keyset pagination.
      schema:
        type: string
    perPage:
      name: per_page
      in: query
      description: Number of entities per page.
      schema:
        type: integer
        default: 50
        maximum: 200
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Authenticate with your Paddle API key passed in the Authorization header with the Bearer prefix, e.g. `Authorization: Bearer pdl_live_apikey_...`.'
